<body>
    <main class="main container">  
      <header class="headerCategory">
        <h2 class='pageTitle'>Тюняев<span class="subTitle">PRODUCTION</span></h2>
        {{!-- prettier-ignore --}}
        <h2 class="scoreCount inPage">{{this.info.score}}<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="rgba(13, 110, 253, 1)" class="bi bi-fire" viewBox="0 0 16 16">
          <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"/>
        </svg></h2>
      </header>
      <div class="wrapper">
      {{#each data}}
        <div class="wrInner">
          <div class="questionBlock">
            <h5 class="questionBlockTitle">Загадка №{{this.id}}</h5>
            <p class="blockText">{{this.text}}</p>
         </div>
        <form class="form formAnswers">
          <div class="formInner" data-aos="zoom-out-up">
            {{#each this.vars}}
              <div class="formItem">
                <input 
                class="formRadio" 
                id=`formRadio{{@index}}` 
                type="radio" 
                name="formRadioName" 
                value={{this}}
                />
                <label class="formLabel" for=`formRadio{{@index}}`>{{this}}</label>
              </div>
            {{/each}}
          </div>
        </form>
        <div class="correctAnswer d-none">{{this.correct_var}}</div>
        <div class="hintBlock">
          <!-- prettier-ignore -->
          <div class="hintHeader">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg>
              <h4 class="hintTitle">Подсказка <span> -30 очков </span></h4>
            </div>
          <p class="hintText">
            {{this.hint}}
          </p>
        </div>
        <hr>
        </div>   
      {{/each}}
      </div>
        <div class="d-flex justify-content-around w-100">
          <a href="/" class="btn btn-secondary mt-3  f-14 goBackBtn">Назад</a>
          <button class="btn btn-primary mt-3 f-14 checkAnswersBtn">Подтвердить</button>
        </div>
    </main>
    <script src="client/assets/js/zagadkiTunaev.js"></script>
  </body>
</html>
